<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>new</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

</head>
<body>
    <h2>add new users</h2>
    <form action="/users/create" method="POST">
        {% csrf_token %}
        first name:  <input type="text" name="first">
        last name:  <input type="text" name="last">
        email:  <input type="text" name="email">
        <input type="submit" value="add user">
    </form>
    <a href="/users">Home </a>
</body>
</html>