<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>showing users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

</head>
<body>
    <h3>This is the show.html </h3>
    <strong>Showing user {{ suser.first }} {{ suser.last }} </strong> 
    <h3>User {{suser.id}}  </h3>
    <p>name: {{suser.first}} {{ suser.last}} </p> 
    <p>email: {{ suser.email }} </p> 
    <p>created at:  {{suser.created_at}} </p> 
    <p><a href="/users">Home</a>  | <a href="/users/{{suser.id}}/edit"> edit </a> | <a href="/users/{{suser.id}}/destroy"> delete </a></p> 
</body>
</html>